[2015-10-18 15:26] tiandao-dongguan opened #4 "how to use procedure in this Repositories?"
hi phnx47,
    this is a great Repositories for dapper ,I want to know how to use procedure in this Repositories?
    can you help me ? thank you .

[2015-10-18 18:00] phnx47 commented on #4
Yes, of course. What are the specific issues? I can send my code examples.

[2015-10-18 19:50] tiandao-dongguan commented on #4
first ,thank you very much for replay , in my application, there are many oracle  storeprocedure and sqlserver  storeprocedure. most oracle storeprocedure return sys_refcursor with output,another storeprocedure is crud operation . I find some code in github ,like this :
          public T ProcQuery<T>(string procName, OracleDynamicParameters parameters)
        {
            using (var sqlConnecti

[2015-10-19 15:57] phnx47 commented on #4
Right now I don't support stored procedures for CRUD. I use my SqlGenerator. But you can extend or ovverride my methods. Next week, I'll try to come up with something for procedures

[2015-10-19 16:25] tiandao-dongguan commented on #4
OK,thank you very much for replay.

[2016-02-23 18:46] #4 closed

[2016-06-08 03:30] Longnt1208 opened #5 "Using LINQ Contains expression"
Hi phnx47,

I used your lib for my project with PostgreSQL and it worked well except a situation when I used Contains expression for query all items have id in collection like this:

`string[] id_arr = ids.Split(',');
 List<int> loctypeIds = new List<int>(id_arr.Select(int.Parse).ToArray());
 return Json(_subtypeRepository.FindAll(x => loctypeIds.Contains(x.loc_type_id)).ToList(), JsonRequestBehav

[2016-06-08 13:25] phnx47 commented on #5
"Contains" is not supported right now. See ExpressionHelper.cs.

I'll try to debug for throw an exception to such a request

[2016-07-11 22:35] phnx47 commented on #5
Now I throw an exception: [Commit](https://github.com/phnx47/MicroOrm.Dapper.Repositories/commit/bf0d7d9a36722a9e2620d7c1e905d3e836a2f2eb)

Later, I'll do a separate method for this operation

[2016-07-12 02:41] Longnt1208 commented on #5
yes, it's will more clear with a exception.

[2016-09-05 06:26] onestudy opened #8 "Cannot read field values for blob MySQL type"
using MySQL.Data.dll 6.9.9.0
using Dapper 1.50.2.0
using MicroOrm.Dapper.Repositories 1.4.2.0

Issues: Cannot read field values for blob MySQL type ,  use FindAsync() method.

[2016-11-04 17:03] phnx47 commented on #8
https://github.com/phnx47/MicroOrm.Dapper.Repositories/commit/ceb2120f1f88d3c3b4a4ddc3f2b2c9d5a4b378b7

I will do more tests and minor changes, and I release this.

[2016-11-15 13:26] jrvariya opened #9 "Join doesn't support if key property is other then "Id" - Resolved"
Hi,
I am getting exception when my entities object having relationship mapping with different field names.
like.
[code]
It will throw spitOn parameter exception.

[2016-11-15 13:30] jrvariya commented on #9
I have improve FindAll private function implementation as :

`
 private IEnumerable<TEntity> FindAll<TChild1>(SqlQuery sqlQuery, Expression<Func<TEntity, object>> tChild1, IDbTransaction transaction = null)
        {
            var type = typeof(TEntity);
            IEnumerable<TEntity> result;
            var propertyName = ExpressionHelper.GetPropertyName(tChild1);
          var splitOn = "Id"

[2016-11-15 13:30] #9 closed

[2016-11-15 13:39] phnx47 commented on #9
[code]

[2016-11-16 00:18] phnx47 commented on #9
Thanks!

[2016-11-16 00:18] phnx47 opened #10 "Join doesn't support if key property is other then "Id""

[2016-12-01 20:01] phnx47 commented on #8
Can you test this: https://www.nuget.org/packages/MicroOrm.Dapper.Repositories/1.6.0-beta1 ?

[2016-12-04 15:47] #8 closed

[2016-12-10 09:42] Longnt1208 opened #14 "Error "An operation is already in progress""
Hi phnx47,

as this title I had this error many times on my web, although  my website hasn't too much concurrent user but it has some long request. I don't think this error come from Dapper because Dapper open and close connection after each execution. I'm not sure but I think this error come from using only one instance for DapperRepository. I'm thinking about using DbProviderFactories to create

[2016-12-10 15:52] phnx47 commented on #14
You control the connection to the database. I always create one connection to one WebRequest.

You can try to create a separate connection for long request.

[2016-12-15 20:50] fuzzzerd opened #15 "Select statement does not include columns with Key + Column attributes"
Using the built-in `FindAsync<ChildT>(..)` method, the SqlGenerator does not include columns in the ChildT when they have both `[Key]` and `[Column(Order = ##)]` attributes. The rest of the join attribute and generated SQL appear correct. The projection generates the correct number of selects, just missing the column names.

Ex:

On v1.5 Output is similar to:
`SELECT [Table1].[Column1],  ... [Tabl

[2016-12-15 22:42] phnx47 commented on #15
Thank you, this is an old bug.

[2016-12-15 22:46] phnx47 commented on #15
For tempoary fix in your project, use name in Column
[code]

[2016-12-15 23:03] phnx47 commented on #15
I fixed it on 1.6.0-beta4

[2016-12-15 23:34] fuzzzerd commented on #15
That does the trick.

[2016-12-15 23:38] fuzzzerd commented on #10
Would it be possible to use the keys specified from the join attributes on the model to make a guess at the SplitOn values? Or could the SplitOn value be an optional parameter in the repository find method?

Seems like a waste to override the various `Find` functions when you only desire the basic functionality of a join.

[2016-12-16 00:11] phnx47 commented on #10
I haven't had time to work on that. I will try to use key from JoinAttr for SlitOn

[2016-12-16 00:13] #15 closed

[2016-12-16 10:42] SirSeven opened #16 "Joining with CompositeKeys"

[2017-01-07 21:08] sstoenner opened #17 "FindAll() with query expressions not working"
Using the following prerequisite:
      var _ctx = new DapperRepository<DowntimeEvents>(new SqlConnection(connectStr), ESqlConnector.MSSQL);

Please consider the following 2 statements:
1)   var result = _ctx.FindAll(x => x.MachineLinkID == 1 && x.DateStampUp == null && x.OperatorID == null);

2)   var result = _ctx.FindAll().Where(x => x.MachineLinkID == 1 && x.DateStampUp == null && x.OperatorID

[2017-02-03 13:52] digitalmedia34 commented on #17
Question, was this issue resolved? I am trying to replicate it but cant.

[2017-02-03 14:44] phnx47 commented on #17
I haven't finished with tests

[2017-02-03 16:48] sstoenner commented on #17
Don't know what was done, but actually this is working correctly in the latest 1.6.0-Beta4 version, but not in 1.5.

[2017-02-03 17:00] phnx47 commented on #17
Yes, that's right. I will make the release next week.

[2017-02-03 23:24] digitalmedia34 commented on #17
Phnx47, let me know if you help. I'm a programmer and really love dapper. This tool it's really nice.

[2017-02-04 08:01] phnx47 commented on #17
@digitalmedia34 Write your Email or Telegram. I have incomplete tasks

[2017-02-19 13:22] phnx47 commented on #17
I closed it. This is working correctly in pre-release version.

[2017-02-19 13:22] #17 closed

[2017-03-17 21:45] digitalmedia34 opened #18 "Example of InnerJoin"
I am trying to use [InnerJoin] attribute and I cant get it to work. Could you provide an example of how to make this work?

await _repo.FindAsync<CustomerActivation>(e => e.Token == "token");

When I do this, I get key not found:
await _repo.FindAsync<CustomerActivation>(e => e.Token == "token", u => u.Username);

The error that I am getting is: Unable to cast object of type MethodBinary to Member

[2017-03-17 22:17] phnx47 commented on #18
Username  is a stting. It must be a class or list

[2017-03-17 22:50] digitalmedia34 commented on #18
Even if I comment out Username and do this await _repo.FindAsync(e => e.Token == "token"); I get the invalid cast exception

[2017-03-18 19:11] phnx47 commented on #18
[Key] isn't required for JOIN.

I need more data for understand what the problem

[2017-03-18 19:17] digitalmedia34 commented on #18
Could you provide a working example of a simple join using findasync. And one where no join is needed but also using find async.

 I tried many different ways and couldn't get it to worm.

Thanks

[2017-03-18 19:25] phnx47 commented on #18
see my tests: https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/master/MicroOrm.Dapper.Repositories.Tests/Tests/MsSqlRepositoriesTests.cs

[2017-03-18 19:26] phnx47 commented on #18
Also you can write tests in my project, and show where there is a problem

[2017-03-18 20:28] digitalmedia34 commented on #18
K let me give that a try

[2017-03-19 04:12] digitalmedia34 commented on #18
The test also fails when modify users model like this (see below) and run await _sqlDatabaseFixture.Db.Users.FindAsync(x => x.Name == "TestName0"):

public class User
    {
        [Key] <- note if I remove key property it throw new Exception("key not found"); Not sure its needed when doing a simple find. It wasn't needed before.
        [Identity]
        public int Id { get; set; }

        publ

[2017-03-19 18:44] phnx47 commented on #18
Next week I will deal with the problem.

[2017-03-27 20:28] fuzzzerd commented on #16
I noticed that due to a limitation in the repository, the `Find<Child1>()` methods fail if the table has a composite primary key, even if the join you are trying to do is only using a single column that key.

I have an instance of a  `DapperRepository<MyEntity>` its PrimaryKey is composite of two other foreign keys, but I cannot use the `Find<Child1>()` function to look up the table to one of thos

[2017-03-28 18:01] fuzzzerd opened #19 "Find All Fix ETA for Nuget?"
Saw a fix for an issue with FindAll using more than three auto join properties: https://github.com/phnx47/MicroOrm.Dapper.Repositories/commit/0f60e30d0f2edc1093a55083dc5db9b8012d5ad8

Wondering if there's an ETA for this fix making it up on Nuget?

[2017-03-28 21:33] phnx47 commented on #19
Done. 1.6.2

[2017-03-28 22:00] #19 closed

[2017-03-31 15:27] digitalmedia34 commented on #18
Hi, in the interest of saving you some time, I fixed code to work. If you want I can create a pull request and you can modify it or make it better.

[2017-03-31 15:56] phnx47 commented on #18
@digitalmedia34 Yes, of course

[2017-03-31 17:26] digitalmedia34 commented on #18
Great,

@phnx47 I created a branch locally but it seems that I have no access to push.

[2017-03-31 18:38] phnx47 commented on #18
@digitalmedia34 You will need create fork.

[2017-04-09 01:43] phnx47 commented on #18
I did some experiments. Trying to do without a key will be very bad to work with MultiMapping.

[2017-04-09 01:45] phnx47 commented on #18
Why can't you use Key?

[2017-04-09 03:14] digitalmedia34 commented on #18
Why would it be bad? It's just adding the attribute to the key collection that you are already doing on startup.

The reason is that I am inherting from a base model that has an id and I don't have access to the code of that base.

________________________________
From: Sergey Kuznetsov <notifications@github.com>
Sent: Saturday, April 8, 2017 9:45:11 PM
To: phnx47/MicroOrm.Dapper.Repositories
Cc:

[2017-04-09 09:33] phnx47 commented on #18
Try to make override.

[2017-04-09 10:07] phnx47 commented on #18
I'll close it. If you have any questions, write a email.

[2017-04-09 10:07] #18 closed

[2017-04-16 13:53] phnx47 commented on #16
1.6.4

[2017-04-16 13:53] phnx47 commented on #10
1.6.4

[2017-04-19 18:03] PeaceWithTrump opened #22 "Does not recognize private setter as read only property"
In C# 5 the only way using auto properties is below. The "repositories" should recognize that as "no setter". Therefore "read only" feature does not work.

public DateTime CreateDate { get; **private set;** }

http://stackoverflow.com/questions/27781522/read-only-public-properties-without-setters-getters

[2017-04-19 18:12] PeaceWithTrump opened #23 "UpdatedAt always sets to UTC"
Not everyone wants or needs UTC in their database. Make this configurable through the attribute value. Currently it always defaults to UTC which does not play well with other related columns. It does not make sense to set CreateDate manually as local, then the framework sets UpdateDate to something completely different.

public virtual SqlQuery GetInsert(TEntity entity)
...
            if (HasUpda

[2017-04-19 22:37] phnx47 commented on #22
I don't understand. What's the problem?

[2017-04-22 11:01] #16 closed

[2017-04-22 11:01] #10 closed

[2017-04-23 19:07] borisermakof commented on #22
Probably we shouldn't map properties with no setter. But the question is not so clear

[2017-05-08 13:24] borisermakof commented on #5
fixed in 1.7.0

[2017-05-08 13:24] #5 closed

[2017-05-09 04:39] KaBaJIeP opened #30 "UseQuotationMarks = true // wrong behaviour"
I have a problem with generate sql.
if we set in DapperRepository<T> constructor :

new SqlGeneratorConfig()
{
   SqlConnector = ESqlConnector.PostgreSQL,
   UseQuotationMarks = true
}

and then execute :

await base.InsertAsync(dbEntity).ConfigureAwait(false)

we will have sql like this :

INSERT INTO "Blogs"("Name") VALUES  (@Name)RETURNING Id

but expected result :

INSERT INTO "Blogs"("Name")

[2017-05-09 07:03] borisermakof commented on #30
Fixed in 1.7.1

[2017-05-09 07:03] #30 closed

[2017-05-09 08:53] borisermakof commented on #23
We can add additional properties to UpdatedAt attribute - DateTimeKind(Local/Utc) and time Offset

[2017-05-09 14:39] phnx47 opened #33 "Create unit tests for MySql and PostgreSql"

[2017-05-15 14:49] PeaceWithTrump commented on #22
The issue is code is interpreting "private setter" as publicly writable property where the intent for it is to be "read only" as in C# 6.0. Simply add to the reflection code a filter on "public accessors only". If not clear try the repository's "read only" example in C# 5 and you would see it does not work the same.

[2017-05-15 14:56] PeaceWithTrump commented on #23
I think that would be fine, though.

[2017-05-17 06:59] jpvdm1 opened #34 "Issue with Insert Method"
Hi,

I am using NuGet Package version 1.7.1.
When inserting a record using the repo.Insert method I get the following error:

However the repo.InsertAsync method works fine.

Please assist.

[2017-05-17 08:01] phnx47 commented on #34
Need more information. Better with an example.

[2017-05-17 09:49] borisermakof opened #35 "Add Delete/DeleteAsync with predicates"

[2017-05-24 16:00] borisermakof opened #36 "Add BulkInsert/BulkInsertAsync methods"

[2017-05-25 02:14] flyon1203sky opened #37 "SqlGenerator.cs has a bug"
line 430 and line 467, the word "LIMIT" should start with " "

[2017-05-25 08:08] phnx47 commented on #37
It would be nice if you will make a PR.

[2017-05-25 09:19] pentest30 opened #38 "bug in findAll predicate methode"
var result = _repository.FindAll(u=>u.Nom==q || q ==null);at MicroOrm.Dapper.Repositories.SqlGenerator.SqlGenerator`1.FillQueryProperties(Expression expr, ExpressionType linkingType, List`1& queryProperties)
   at MicroOrm.Dapper.Repositories.SqlGenerator.SqlGenerator`1.FillQueryProperties(Expression expr, ExpressionType linkingType, List`1& queryProperties)
   at MicroOrm.Dapper.Repositories.SqlG

[2017-05-25 15:37] borisermakof commented on #36
Added in 1.7.2 PR #39

[2017-05-25 15:37] #36 closed

[2017-05-25 22:07] phnx47 commented on #37
I checked it. It isn't needed.

[2017-05-25 22:07] #37 closed

[2017-05-28 18:26] borisermakof commented on #35
Added int PR #41

[2017-05-28 18:26] #35 closed

[2017-05-28 18:40] borisermakof commented on #38
I think it is not a bug, because 'q' is not a property of repository object.

[2017-05-28 18:51] borisermakof opened #42 "bug with using the same field multiple times in predicate"
When we type something like
`repo.FindAll(x => x.Field == "a" || x.Field == "b")`
SqlGenerator translates it into
`SELECT t.Field FROM t WHERE t.Field = @Field OR t.Field = @Field`
then '@Field' replaces only with "a" and skips "b" because there is only one parameter in sql query, not two.
we should transform predicate into
`SELECT t.Field FROM t WHERE t.Field = @Field_1 OR t.Field = @Field_2`

[2017-05-30 14:54] borisermakof opened #43 "Add BulkUpdate/BulkUpdateAsync"

[2017-05-30 17:06] borisermakof commented on #43
Added in PR #44

[2017-05-30 17:06] #43 closed

[2017-05-30 18:26] borisermakof opened #46 "Exclude Key property from update parameters if it is marked with IgnoreUpdate attribute"

[2017-05-31 03:49] borisermakof commented on #46
Fixed in 1.7.5-pre1

[2017-05-31 03:49] #46 closed

[2017-05-31 09:42] onestar1 opened #47 "LINQ Contains expression bug"
test:
List<int> keyList = new List<int> { 2, 3, 4 };
            var users = (await _sqlDatabaseFixture.Db.Users.FindAllAsync(x => keyList.Contains(x.Id))).ToArray();

is true；

but I try：
 List<string> batchnumbers=new List<string>();
 var orderlist = msSqlDbContext.Orders.FindAll(o =>
                batchnumbers.Contains(o.BatchNumber)
            );
it's : Only one degree of nesting is support

[2017-05-31 09:44] borisermakof commented on #47
The bug appears only with empty list collection?

[2017-05-31 09:48] onestar1 commented on #47
batchnumbers.Add("1234");
 batchnumbers.Add("5634");

it's also Appear this

[2017-05-31 09:51] borisermakof commented on #47
ok. Could you copy here your 'Order' class?

[2017-05-31 10:00] onestar1 commented on #47
[Table("shop_orders")]
	public class OrderInfo
	{
		private Dictionary<string, LineItemInfo> lineItems;

		private IList<OrderGiftInfo> gifts;

		private decimal adjustedFreigh;

		public static event System.EventHandler<EventArgs> Created;

		public static event System.EventHandler<System.EventArgs> Payment;

		public static event System.EventHandler<System.EventArgs> Deliver;

		public static ev

[2017-06-01 12:57] pentest30 commented on #38
then how can i get a result like this using your App??:
 $@"SELECT Utilisateurs.*
        FROM Utilisateurs
        WHERE Nom LIKE '%{searchTerm}%' OR '{searchTerm}' =''
        OR Prenom LIKE '%{searchTerm}%' OR '{searchTerm}' =''
        OR Email LIKE '%{searchTerm}%' OR '{searchTerm}' =''
        OR PasswordHash LIKE '%{searchTerm}%' OR '{searchTerm}' =''
        OR Pseudo LIKE '%{searchTerm}%'

[2017-06-01 13:29] phnx47 commented on #38
@pentest30 No implementation

[2017-06-01 13:31] phnx47 commented on #38
@pentest30 I recommend extend repositories by your methods in your code.

[2017-06-01 13:32] borisermakof commented on #38
Unfortunately, in current version, we do not support StartWith/EndWith (start% / %end) predicates

[2017-06-02 13:13] pentest30 commented on #38
Why don't use ReLinq for parsing? It's used by ef and nhibernate.

Is it slower? Or does it not help very much?

https://github.com/re-motion/Relinq

[2017-06-08 08:29] pentest30 opened #48 "Update an entity with GUI id"
i get en error when i try to update an entity  with GUI id. (error after where clause )

[2017-06-08 09:31] phnx47 commented on #38
We aren't trying to solve all the scenarios, only simple.

A simple SqlGenerator enough for CRUD.

For complex queries I prefer clean SQL.

[2017-06-29 03:08] onestudy opened #49 "invoke insert() method, throw NullReferenceException"
I use Mycat 1.6 proxy service. current mysql 5.7,
AspNet core 1.1 reference Pomelo.Data.Mycat driver 1.0,
invoke insert() method throw System.NullReferenceException: Object reference not set to an instance of an object.
559 line :var newId = Connection.Query<long>(queryResult.GetSql(), queryResult.Param, transaction).FirstOrDefault();
use ExecuteScalar<long>() fix bug ,please.

[2017-07-06 07:30] Shmily1018 opened #50 "there's no GetPaged Method"
can you give a page method. it is always use.

[2017-07-17 13:14] fromm1990 opened #51 "MySQL and PostgreSQL syntax error (missing space)"
At line 131 in the [SqlGenerator.cs](https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/master/src/MicroOrm.Dapper.Repositories/SqlGenerator/SqlGenerator.cs) file

[code]
one can see that a space is missing such that "LIMIT 1" should be " LIMIT 1" otherwise it returns `...@IdLIMIT 1` resulting in an SQL syntax error.

[2017-07-18 22:07] phnx47 commented on #51
fixed in 1.8.0

[2017-07-18 22:07] #51 closed

[2017-07-26 10:54] #38 closed

[2017-08-16 03:23] lanhyan opened #52 "[Deleted] attribute is invalied when delete with linq expression"
Hi, I am develop my project with MicroOrm.Dapper.Repositories, and that is something confuse me.

When I am use

The sql generated is like this

But when I try to delete instance by linq expression, like this

The sql generated is different

It seem that the [Deleted] attribute is invalied when delete with linq expression, is that a bug or some specific reason?

---

And my entity

[code]

[2017-08-17 00:41] phnx47 commented on #52
I made a fix, but I'll publish in Nuget after additional tests and changes.

You can use it from MyGet.

[2017-08-17 02:07] yuzifu opened #53 "Support SQLite"
It's include MSSQL/MySQL/PgSQL support in ESqlConnector, but I can't find SQLite support in this project.

[2017-08-17 03:18] lanhyan commented on #52
Thanks, it is really helpful!

[2017-08-17 06:35] phnx47 commented on #53
I don't have experience with SQLite and I don't enough time to do this.

[2017-08-18 20:17] R0nd opened #54 "Many to many left join"
Is there a way to map a many-to-many relationship via a relation table?

[2017-08-18 21:00] phnx47 commented on #54
No.

Use dapper mapping.

[2017-08-18 21:13] #54 closed

[2017-08-19 09:34] VladSnap opened #55 "Support '( )' for ordering"
My POCO:
[code]

Linq expression:
[code]

The following sql is generated:
[code]

I expected that the following SQL would be generated:
[code]

Is it something I'm doing wrong or is it a mistake?

[2017-08-19 14:57] phnx47 commented on #55
We can't to work with brackets right now.

I'm thinking of embedding "IsDeleted" into the query for don't write it every time. For IsDeleted records, I will create another method

[2017-08-19 20:38] phnx47 commented on #55
use for your method:

[code]

This should give you what you need

[2017-08-19 21:25] VladSnap commented on #55
I understand, thanks for the answer!

If there is no support for complex Link expressions, you can add the ability to send sql. In the base class, I have only one method for this: ExecuteJoinQueryAsync

[2017-08-19 21:57] phnx47 commented on #55
You have Connection in Base class, you can use Dapper directly

[2017-08-20 14:56] phnx47 commented on #52
fixed in 1.8.1

[2017-08-20 14:56] #52 closed

[2017-08-20 21:46] phnx47 commented on #48
Such an error, if Id is not the [Key].

I will make a method so that I can update with expression.

[2017-08-20 22:13] phnx47 commented on #48
I fixed it. I will publish it in Nuget later

[2017-08-20 22:14] phnx47 commented on #48
Tests:
[code]

[2017-08-31 03:36] alvin-su opened #56 "Oracle databases are not supported"
When accessing an Oracle database, it is not supported

[2017-09-16 23:18] phnx47 commented on #48
1.8.2

[2017-09-16 23:18] #48 closed

[2017-09-21 00:23] phnx47 commented on #34
I can't reproduce

[2017-09-21 00:23] #34 closed

[2017-09-24 14:52] shobhitkasliwal-zz opened #57 "Getting nested entities"
Hi
I am unable to retrieve the nested entity in join select.
User Entity has list of cars and car contains another entity Status.
I would like to provide a username and get all cars along with its status. I am not able to get this to work.
User => List(Car) => Status

 I am using like (similar way Entity Framework allow include for nested entities)

  ISqlGenerator<User> userSqlGenerator = new Sql

[2017-09-27 15:11] SanjayForGitHub commented on #42
Hey

Is this resolved yet?

Thanks
Sanjay

[2017-10-02 08:45] AndriiKuznietsov commented on #55
Found the same issue for expression with brackets '()'
As a workaround I've changed my expression to expression without brackets.
Please, fix this issue.

[2017-10-02 11:44] Gelphy opened #58 "Bug with using nested entities for FindAll<TChild>."
Bug with using nested entities for FindAll<TChild>.

Hi,
I am unable to retrive the nested entity except first object.
When use FindAll<TChild>. For example in case with composite KEY.

FindAll<BidRiskRateValue>(predicate, rt => rt.BidRiskRateValues, transaction);

    [Table("BidRiskRateValues", Schema = "CONT")]
    public class BidRiskRateValue
    {
        [Key]
        [Column(Order = 1)]

[2017-10-03 21:29] phnx47 commented on #57
Hi!

No. '.Select(t => t.Status)' doesn't work. Use direct query

[2017-10-10 14:17] rpnascimento opened #59 "Bug with BulkUpdate"
When i do:

[code]

it gives me this error "{"42601: syntax error at or near \"UPDATE\""}"
I'm using postgres as database ( `ESqlConnector providerType = ESqlConnector.PostgreSQL;` ).

While doing the BulkInsert in the same way, i got no error.

[2017-10-21 16:12] ohngahng commented on #50
How do the paging

[2017-10-26 23:10] phnx47 commented on #59
fixed in 1.8.3

[2017-10-27 00:52] belahd opened #60 "Count(predicate) method"
If it's possible to add the function Count(predicate)? Thanks

[2017-10-27 06:25] phnx47 commented on #60
Yes.

But I don't have much time. I would be glad to PR

[2017-10-27 16:28] #59 closed

[2017-10-30 10:25] JHeLiu opened #61 "Is the author ever hoping to update it?"
Is the author ever hoping to update it?

[2017-10-30 10:31] phnx47 commented on #61
@JHeLiu What do you mean?

[2017-10-30 10:33] JHeLiu commented on #61
@phnx47 Oh, I mean, will you keep updating your library?

[2017-10-30 10:38] phnx47 commented on #61
Yes. I'm fixing bugs, doing a refactor, releasing new methods, adding tests.

Release notes: https://github.com/phnx47/MicroOrm.Dapper.Repositories/releases

But I don't have much time. Need more contributors

[2017-10-30 11:09] #61 closed

[2017-10-30 14:13] JHeLiu commented on #61
@phnx47
Yes, in our country (China) there is a word called, to succeed people are stick to the last person.
Can i suggest a few smaller suggestions? In fact, mining does not adopt it does not matter, hope to bring you inspiration.
The first author is based on the extension written by dapper. You can change the name of a dominant advantage, such as: dapper.sugar, dapper.linq, dapper.plus, a good na

[2017-10-30 14:31] phnx47 commented on #61
@JHeLiu Thanks for feedback!

[2017-11-01 14:22] risfeng opened #62 "When do you support oracle?"
Hello, author! When do you support the Oracle database? Thank！！

[2017-11-01 14:28] phnx47 commented on #62
#56 I don't experience with Oracle. Maybe later

[2017-11-02 03:31] risfeng commented on #62
OK！wait in hope……

[2017-11-20 23:06] youcefazoug opened #63 "Ms Access support"
can't find **Ms Access** support in this project.

[2017-11-30 15:13] xandrmoro opened #64 "Joining multiple entities of the same type fails"
[code]

Results in

Is it possible to overcome this?
(btw, it would be really nice to be able to get the whole table with children without predicate)

[2017-11-30 15:23] phnx47 commented on #64
I need to think about it.

"Children without predicate" is simple, I will do it.

[2017-11-30 15:27] phnx47 commented on #49
If the problem exists, reopen ticket and give me an example

[2017-11-30 15:27] #49 closed

[2017-11-30 15:33] phnx47 commented on #57
I'm not planning do this functional

[2017-11-30 15:33] #57 closed

[2017-12-01 12:21] xandrmoro commented on #64
Just created a PR about this feature #65

[2017-12-01 13:16] phnx47 commented on #64
I think, need always generate aliases for all tables and all queries, alike EF

[2017-12-02 12:01] haibozhou1011 opened #66 "Get(m => m.Id == 700 && m.UserName.Contains("userName")) Do not support the 'like' SQL syntax"
Get(m => m.Id == 700 && m.UserName.Contains("userName")) Do not support the 'like' SQL syntax

[2017-12-02 12:06] haibozhou1011 commented on #66
public Sys_User Get()
        {
            var userNames = new string[] {"dd", "zhb"};
            //First Like I don't Support
            var sysUser = _sysUserRepository.Get(m => m.Id == 700 && m.UserName.Contains("userName"));
            //Second In Id don't Support Too;
            sysUser = _sysUserRepository.Get(m => m.Id == 700 && userNames.Contains(m.UserName));
            return sysUs

[2017-12-02 12:06] haibozhou1011 commented on #66
public Sys_User Get()
        {
            var userNames = new string[] {"dd", "zhb"};
            //First Like I don't Support
            var sysUser = _sysUserRepository.Get(m => m.Id == 700 && m.UserName.Contains("userName"));
            //Second In I don't Support Too;
            sysUser = _sysUserRepository.Get(m => m.Id == 700 && userNames.Contains(m.UserName));
            return sysUse

[2017-12-02 14:51] haibozhou1011 opened #67 "Would you please provide a complete Demo, especially the part of the "Find" interface Demo?"
Would you please provide a complete Demo, especially the part of the "Find" interface Demo?
The "Find.Join" interface has not found the usage description.

[2017-12-02 19:51] phnx47 commented on #67
See tests

https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/6550f45ebe62a22ad33c00013c177440b158880c/test/MicroOrm.Dapper.Repositories.Tests/RepositoriesTests/MsSqlRepositoriesTests.cs#L212

[2017-12-03 05:20] haibozhou1011 commented on #67
thanks

[2017-12-03 12:29] #67 closed

[2017-12-04 14:57] haibozhou1011 commented on #66
？？

[2017-12-04 15:09] phnx47 commented on #66
"Like"doesn't support right now

[2017-12-04 15:10] haibozhou1011 commented on #66
ok，thanks！！

[2017-12-10 11:50] naghilu opened #68 "TableSchema"
Hi, Author
Can we specify TableSchema in Table attribure or other attribute ?
If possible put an example .

[2017-12-10 12:53] phnx47 commented on #68
Hi!

See example:
https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/6550f45ebe62a22ad33c00013c177440b158880c/test/MicroOrm.Dapper.Repositories.Tests/Classes/Phone.cs#L7

[2017-12-10 15:11] naghilu commented on #68
Thank you so much.
    On Sunday, December 10, 2017, 4:23:03 PM GMT+3:30, Sergey Kuznetsov <notifications@github.com> wrote:

Hi!

See example:
https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/6550f45ebe62a22ad33c00013c177440b158880c/test/MicroOrm.Dapper.Repositories.Tests/Classes/Phone.cs#L7

—
You are receiving this because you authored the thread.
Reply to this email directly, view i

[2017-12-11 12:55] #68 closed

[2017-12-20 16:51] rpnascimento commented on #58
I think i have tha same problem.

    [Table("Route")]
    public class RouteEntity
    {
        [Key]
        [Identity]
        [Column("routeid")]
        public int RouteId { get; set; }

        [InnerJoin("RoutePoint", "routeid", "routeid")]
        public List<RoutePointEntity> RoutePoint { get; set; }
    }

    [Table("RoutePoint")]
    public class RoutePointEntity
    {
        [Key]

[2017-12-20 17:31] rpnascimento commented on #58
Got it to work doing

FindAll<RoutePointEntity>(x => x.RouteId == routeId, r => r.RoutePoint).First();

Ty. :)

[2018-01-25 09:20] sephanguyen opened #69 "How to implement for Unit of Work Pattern ??"
I want implement Unit of Work Pattern for MicroOrm.Dapper.Repositories, how to do ?? Can U help me? Thanks you!

[2018-01-25 10:33] phnx47 commented on #69
Use DapperDbContext for this

[2018-01-25 11:00] sephanguyen commented on #69
thank u very much!

[2018-01-26 12:23] #69 closed

[2018-01-29 20:53] AimanJaouhar opened #70 "Support for brackets?"
I work with table names with numbers. Is there a more elegant way to have brackets  than injecting them in the query object?

[2018-01-30 09:03] phnx47 commented on #70
Yes. See https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/6550f45ebe62a22ad33c00013c177440b158880c/src/MicroOrm.Dapper.Repositories/SqlGenerator/SqlGeneratorConfig.cs#L16

UseQuotationMarks = true

[2018-01-30 16:23] AimanJaouhar commented on #70
Thank you!

[2018-01-30 16:23] #70 closed

[2018-02-12 09:49] sephanguyen opened #71 "Error "predicate can't parse" when use Contains. How to fix it??"
Hi,
I have class team
[code]
and when i use contains for where clause:
[code]
I have issue
[code]

How to fix it??

[2018-02-12 10:07] phnx47 commented on #71
I have task for this: https://github.com/phnx47/MicroOrm.Dapper.Repositories/issues/66
But right now I don't have enough time to solve task

[2018-02-12 10:23] sephanguyen commented on #71
yes, thank u verry much!

[2018-02-28 23:30] freetison opened #72 "System.NotSupportedException: 'predicate can't parse'"
I am trying to replicate the MsSqlRepositoriesTests but I received this runtime error: System.NotSupportedException: 'predicate can't parse'

POCO class
------------
 [Table("TestTableSize")]
    public class TestTableSize
    {
        [Column(TypeName = "varchar"), MaxLength(10)]
        public string MyKeyField; // varchar(10), not null

        [Column(TypeName = "datetime")]
        public Da

[2018-03-01 10:35] phnx47 commented on #72
Why do you use 'field' and not 'property'.
I think this is the problem.

[2018-03-01 15:11] freetison commented on #72
Thanks for answer and your incredible work.
You are right.. It's fix using properties.

[2018-03-01 18:24] #72 closed

[2018-04-13 06:09] Dxyy commented on #71
[code]
startwiths and endwith like it.

[2018-04-23 11:02] liuyl1992 opened #74 "is it codefist?"
is it codefist?

[2018-04-23 14:56] #74 closed

[2018-05-09 08:43] onestar1 opened #75 "the counmn hav 'key' is not?"
SELECT GenericAttribute.EntityId, GenericAttribute.KeyGroup, GenericAttribute.Key AS Key, GenericAttribute.Value, GenericAttribute.StoreId, GenericAttribute.Id FROM GenericAttribute

use:  dapperRepository.FindAll()

 ex：There is a syntax error near the keyword'Key'.

[2018-05-26 12:42] katrinathomas opened #76 "Puttinwork"
Hello not to mention the lack of intelligence

[2018-05-26 12:43] katrinathomas commented on #76
Ha"ha

[2018-05-27 09:52] #76 closed

[2018-06-27 09:39] onestar1 opened #77 "a question"
I use autofac：
`builder.RegisterGeneric(typeof(DapperRepository<>)).As(typeof(IDapperRepository<>)).SingleInstance().WithParameter(new TypedParameter(typeof(IDbConnection), new SqlConnection(datasetting.DataConnectionString)));`

‘
private readonly IDapperRepository<ERP_User> _userdapperRepository;
public  ERP_UserService(IDapperRepository<ERP_User> userdapperRepository){
_userdapperRepository = u

[2018-06-27 09:44] onestar1 commented on #75
think you：
[code]

[2018-08-11 22:45] phnx47 commented on #75
I don't understand. Sql and class are different

[2018-08-13 22:49] phnx47 opened #78 "Release 1.11"
Research all changes and release 1.11 version

[2018-09-11 11:59] noinh opened #79 "Fix AppendWherePredicateQuery"
when i write query ex:
_sqliteDatabase.Context().TableA.FindAll(x => x.Date >= startDate && x.Date <= endDate).ToList();

sql Generator:
SELECT `TableA`.`Id`,  `TableA`.`Date` FROM `TableA` WHERE `TableA`.`Date` >= @Date AND `TableA`.`Date` <= @Date
=> it is errors
I modify : SqlGenerator/AppendWherePredicateQuery line: 404 (^_^):
 int ix = 1;
while (dictionaryParams.ContainsKey(item.PropertyName)

[2018-09-11 21:13] phnx47 commented on #79
@noinh Can you do PR?

[2018-09-12 22:20] phnx47 opened #80 "Use StringBuilder where possible"
Prefer StringBuilder instead plus or interpolation

[2018-09-12 22:21] phnx47 opened #81 "Separate SqlGenenerator on partial classes"

[2018-09-17 01:44] noinh commented on #79
dear @phnx47
yes i can. i'm ready

[2018-10-18 23:26] jonpfowler opened #82 "KeySqlProperties is not being populated with [Key] attribute"
Update() fails in SqlGenerator.InitProperties.cs line 37

KeySqlProperties = props.Where(p => p.GetCustomAttributes<KeyAttribute>().Any()).Select(p => new SqlPropertyMetadata(p)).ToArray();

is always empty, so the update statement ends in "WHERE " with no key=@value which obviously fails in SQL Server with an invalid statement.

I tried using [Key] and [ExplicitKey], it picks up neither. I made t

[2018-10-18 23:33] phnx47 commented on #82
What is Dapper.Contrib.Extensions.ExplicitKeyAttribute ?

Need use KeyAttribute from System.ComponentModel.DataAnnotations

[2018-10-19 12:33] jonpfowler commented on #82
Thanks. Conflicting libraries.

[2018-10-19 12:33] #82 closed

[2018-11-09 15:27] BigFissan opened #83 "Bug in sql when same property used more than once"
Hi,

When i query like this: `(r => r.BundleId == "11119999" && r.BundleId == "11112222")`
The same parameter is used twice in the resulting sql

[code]
Which results in incorrect data returned.

[2018-11-24 13:09] hmuhdkamran commented on #62
This is what I am looking for, all databases in one place with dbContext, I have experience with oracle, I will try my best to add some Oracle functionalities.

[2018-12-05 03:13] huanbd opened #84 "[Question] About Dispose method in DapperDbContext"
Hi, I would like to ask about repository pattern
I see in source code of class `DapperDbContext `has method `Dispose` because it inherited `IDisposable `interface, but I don't find any place to call this method either source or in user guide.
I'm confuse about inherited `IDisposable `interface, follow this [doc](https://docs.microsoft.com/en-us/dotnet/standard/garbage-collection/using-objects) hav

[2019-01-16 20:54] rchadhaney opened #85 "How to use with UnitOfWork"
Hi,

I have been using this project for quite a while and really love it. However, I'm struggling with how to use this in a UnitOfWork pattern. Can you give some direction? #

[2019-01-16 21:05] phnx47 commented on #85
All examples in tests. DapperDbContext like a UnitOfWork

Also UnitOfWork can be implemented in different ways.

[2019-01-16 21:15] phnx47 commented on #84
IDisposable used for close IDbConnection

https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/1779d5218f1414e3ef601a1a98bbcc25f13be37e/src/MicroOrm.Dapper.Repositories/DbContext/DapperDbContext.cs#L45-L52

[2019-01-17 03:39] #84 closed

[2019-01-18 11:47] #85 closed

[2019-02-11 20:03] digitalmedia34 commented on #55
Having same issue with simple AND OR and order operation '( )'. Will this be fixed?

Thanks

[2019-02-11 20:20] phnx47 commented on #55
@digitalmedia34 Right now, I don't have time for support '( )'. But, I can help you with PR for this project.

[2019-02-11 20:28] phnx47 commented on #55
@digitalmedia34 I see, you have fork of this project. I think better work for one project, If you have some ideas, you can talk with me and try implement many things.

[2019-02-11 20:39] digitalmedia34 commented on #55
Yes I just dont see a good way of implementing expression orders. Do you have a suggestion?

[2019-02-11 20:46] phnx47 commented on #55
@digitalmedia34 Need just translate '( )' to Sql. Research parsing Expression. After need tests with MsSql, MySql and PostgreSql, and be sure, that Sql - universal.

[2019-02-11 22:44] digitalmedia34 commented on #55
The problem is the way you are doing parameters, there is a order of precedent that we need to adhere to

[2019-02-28 20:15] jsangari-ssat opened #89 "TypeHandlers are Ignored by SqlGenerator"
Hi We have a case where a Column in Sql Tablke COntains Json Data.. And We have a Type Hanlder for those types...

[code]
Sample Class and Initializer

[code]

The Property is Ignored by SqlGenerator . Looking at your code looks at PrimitiveTypes only

[code]

What would be the best way of Solving this? Thanks

[2019-02-28 20:57] phnx47 commented on #89
I never tested it with Json data. Is it new SqlServer?

I don't know what is 'SqlMapper.AddTypeHandler'.

We can think about it, if Dapper support mapping Json to List<T>

[2019-03-01 08:10] phnx47 commented on #83
@BigFissan What are you expecting with this expression: ```(r => r.BundleId == "11119999" && r.BundleId == "11112222")```?

[2019-03-01 13:12] jsangari-ssat commented on #89
@phnx47 Dapper Supports custom Serialization Via MapHandlers. I think all you need is a way to say what the datatype is that the Column was serialize to in the DB.
 I was able to workaround by creating a Custom Attribute that I marked in my Property and  Class that Inherits from SqlGenerator and Adds it to SqlProperties. Do you think this makes sense to enhance the SqlGenerator ?

[2019-03-01 13:20] phnx47 commented on #89
@jsangari-ssat Thank you! I need time for research.

[2019-03-12 15:02] BigFissan commented on #83
Sorry for my long response time:

I meant of course "**OR**" (r => r.BundleId == "11119999" **||** r.BundleId == "11112222")

[2019-03-12 15:08] BigFissan commented on #83
But That Bug seems Fixed now

[2019-03-12 15:16] phnx47 commented on #83
@BigFissan Ok! I didn't see any incorrect results. If you you have problem, you can reopen issue. And you can write unit test where expected result incorrect.

[2019-03-12 15:16] #83 closed

[2019-04-13 11:33] BootsShu opened #95 "var result = _userRepository.Find<AvatarEntity>(s=>s.Id == 1, s=> s.Avatars)"
BaseEntity

   public class BaseEntity<TKey> where TKey : IEquatable<TKey>
    {
        [Key, Identity]
        public virtual TKey Id { get; set; }
    }

   public class BaseEntity : BaseEntity<int>
    {
    }

    /// <summary>
    /// User
    /// </summary>
    [Table("Users")]
    public class UserEntity: BaseEntity
    {
        /// <summary>
        /// UserName
        /// </summary>

[2019-04-13 11:40] phnx47 commented on #95
Which version?

[2019-04-13 12:35] BootsShu commented on #95
MicroOrm.Dapper.Repositories 1.10.0-beta2

[2019-04-13 12:37] BootsShu commented on #95
MicroOrm.Dapper.Repositories
version : 1.10.0-beta2

[2019-04-13 12:53] BootsShu commented on #95
Can you reproduce this problem?

[2019-04-13 13:06] phnx47 commented on #95
@BootsShu I will check tomorrow

[2019-04-13 17:38] phnx47 commented on #95
@BootsShu Do you use `Table` attribute?

https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/e9bd5635f23e2534ea46f744a50141d407a0f2bf/test/MicroOrm.Dapper.Repositories.Tests/Classes/User.cs#L11

[2019-04-13 17:57] BootsShu commented on #95
1、The table attribute was used again before！
2、User information can query out, but the user Avatar can not query!

Thank you very much for your reply.

[2019-04-13 18:08] BootsShu commented on #95
I found that this problem can be solved by covering the id in the base class with user, avatar and other models.

For this type of question, can you provide the best practices for Net Core?

[2019-04-13 18:20] phnx47 commented on #95
I don't understand what you do for solve problem.

I wrote some tests with examples. You can add additional tests and make PR. If there are problems with BaseClass or Generic Type we will think how to solve.

[2019-04-13 18:27] BootsShu commented on #95
For this type of question, can you provide the best practices for Net Core?

[2019-04-13 18:42] phnx47 commented on #95
You can just read some source code: https://github.com/thangchung/awesome-dotnet-core/

[2019-04-14 11:29] phnx47 commented on #95
If the problem is not solved, reopen issue.

[2019-04-14 11:40] BootsShu commented on #95
In the userEntity add : public override int Id { get; set; },This can solve the current problem!

Thank you very much. My problem has been solved, but I don't think it is the best way to do it.

[2019-04-15 15:29] BootsShu commented on #4
Does the current dapper repository support the execution of stored procedures?
This dapper warehouse is great. I like it very much!
Hail to the great author!

[2019-04-15 15:34] phnx47 commented on #4
@BootsShu  Not any plans with stored procedures. Use Dapper directly for this

[2019-04-22 03:45] BootsShu opened #96 "Hi, will this great framework support multi-level caching?"
Hi, will this great framework support multi-level caching?

[2019-04-26 20:42] phnx47 commented on #95
I added example to my test:
https://github.com/phnx47/MicroOrm.Dapper.Repositories/commit/01ece7f1430e0c442b4ef2025c80272503f6f21c

Right now all my tests work!

[2019-04-27 00:09] phnx47 commented on #96
@BootsShu What you mean?

[2019-04-27 00:11] BootsShu commented on #95
his solved my problem. Thank you very much！

[2019-04-27 00:12] #95 closed

[2019-04-27 11:25] phnx47 commented on #66
Support now! 1.10.0-beta3

[2019-04-27 11:25] #66 closed

[2019-04-27 11:27] phnx47 commented on #71
'Contains' supported now. 1.10.0-beta3

[2019-04-27 11:27] #71 closed

[2019-04-27 11:27] phnx47 commented on #80
In progress...

[2019-04-27 11:27] phnx47 commented on #81
In progress...

[2019-04-27 11:30] phnx47 commented on #58
I think, no actual now.

[2019-04-27 11:31] phnx47 commented on #79
Resolved!

[2019-04-27 11:31] #79 closed

[2019-04-27 11:32] phnx47 commented on #77
I don't know answer, sorry...

If it actual, write test please, and show me

[2019-04-27 11:32] #77 closed

[2019-04-27 11:33] phnx47 commented on #64
Resolved now!

[2019-04-27 11:33] #64 closed

[2019-04-27 11:33] phnx47 commented on #60
Resolved!

[2019-04-27 11:33] #60 closed

[2019-04-27 11:33] #58 closed

[2019-04-27 11:34] phnx47 commented on #42
Resolved!

[2019-04-27 11:34] #42 closed

[2019-04-27 11:34] phnx47 commented on #47
Resolved!

[2019-04-27 11:34] #47 closed

[2019-04-27 11:36] phnx47 commented on #22
I think, it is not problem...

[2019-04-27 11:36] #22 closed

[2019-04-27 11:42] phnx47 commented on #78
Writing [Draft](https://github.com/phnx47/MicroOrm.Dapper.Repositories/releases/tag/untagged-35fa4d1695556041f65b)

[2019-04-27 11:44] phnx47 commented on #33
I will continue after 1.10.0 release

[2019-04-29 04:53] BootsShu commented on #96
Like ef, we can cache the results of our queries using Cacheable.
eg:
  var products = context.Products.Include(x => x.Tags).Cacheable().FirstOrDefault();

[2019-05-08 11:09] BootsShu commented on #96
Will multi-level caching be supported in the future?

[2019-05-08 11:13] BootsShu opened #98 "When do you support "WITH(NOLOCK)"?"
eg: SELECT * FROM dbo.Goods WITH(NOLOCK)

[2019-05-08 11:20] phnx47 commented on #96
Multi-level cache is EF feature. Dapper is not like EF. My library only help you generate SQL for Dapper. I cache some results for next queries by default

[2019-05-08 11:30] phnx47 commented on #98
Not any plans now. You can do this yourself and make PR

[2019-05-09 03:14] #98 closed

[2019-05-13 14:51] #96 closed

[2019-06-02 09:40] BootsShu opened #99 "Does the 'Exists' keyword exist in the future?"
eg:
var menuPermission = _menuRepository.Find(s => roleMenuOperations.Exists(x=>x.MenuId==s.Id) && s.MenuUrl == url);

[2019-07-01 02:21] icymaru commented on #99
there's workaround for this right now, which is using .Contains

eg:
var roleMenuOperations = new[] { 1, 2, 3 }; // list/array of ids
var menuPermission = _menuRepository.Find(s => roleMenuOperations.Contains(s.Id) && s.MenuUrl == url);

[2019-07-01 09:39] BootsShu commented on #99
Thanks

[2019-07-30 14:37] alexhiggins opened #100 "Question about retrieving insert id when using InsertAsync"
The current implementation returns a Boolean I'm just wondering what's the best way to get the inserted id.

I see here in the code it's placed somewhere https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/4a44838960eeecd3bd3a3c1c0c6d9dcfe0e5add2/src/MicroOrm.Dapper.Repositories/DapperRepository.Insert.cs#L46

I am not sure really how to retrieve this, also what's SqlGenerator.IsIdentity?

[2019-07-30 14:42] phnx47 commented on #100
Hello! Like this
[code]

[2019-07-30 14:48] phnx47 commented on #100
Example here:
https://github.com/phnx47/MicroOrm.Dapper.Repositories/blob/7f0666ace7bca8c6de10c4cf8e6c4cb1b30e5967/test/MicroOrm.Dapper.Repositories.Tests/RepositoriesTests/RepositoriesTests.cs#L270

[2019-07-30 14:53] alexhiggins commented on #100
Ah so simple - thank you @phnx47! I was instantiating the entity within brackets so it never crossed my mind to even check

[2019-07-30 14:53] #100 closed

[2019-08-13 10:13] icymaru opened #101 "Issue on Left Join FindAsync"
So I found an [issue?] in FindAsync where the entity has an List<T> property.
The List<T> property will always have just 1 item on it since the query it generated has TOP 1 on it.
Query below was the generated script from the library:

`
SELECT
	TOP 1
	[tbl_Users].[Id],
	[tbl_Users].[Name],
	[tbl_Users].[AddressId],
	[tbl_Users].[PhoneId],
	[tbl_Users].[OfficePhoneId],
	[tbl_Users].[Deleted],
	[tb

[2019-08-22 03:53] hungnguyenphuoc opened #103 "lost condition in case using a column more then one time"
I got version 1.8.3 but it still have error while we filtering a column more then one time.
For example:
`x => x.Phone.Number != "123" && x.Phone.Number != "124"`
it always generates:
`DAB.Phones.Number != @PhoneNumber` only
the expectation is:
`DAB.Phones.Number != @PhoneNumber AND DAB.Phones.Number != @PhoneNumber1`

so, i have changed the **AppendWherePredicateQuery** method by add the code sni

[2019-08-22 10:37] phnx47 commented on #103
@hungnguyenphuoc Hello! Did you try 1.10.0-beta4?

[2019-08-26 02:10] hungnguyenphuoc commented on #103
Not yet bro, you mean it was ready for the next release?

[2019-08-26 06:55] phnx47 commented on #103
@hungnguyenphuoc Yes, you should check, you can use beta version right now.

[2019-10-08 18:23] phnx47 commented on #101
I checked query. TOP 1 - make limit for all query. I think, this not a bug, you should use FindAllAsync with FirstOrDefault

[2019-10-08 18:24] #101 closed

[2019-10-08 18:29] phnx47 commented on #103
@hungnguyenphuoc Is it ok in beta version?

[2019-10-08 18:41] phnx47 commented on #33
MySql - Done

[2019-10-09 16:52] #103 closed

[2019-10-16 02:24] icymaru commented on #101
Yeah, though using FindAllAsync with FirstOrDefault feels like a hack. I'm thinking the query should be something like this:

[code]

rather than this:
[code]

[2019-10-22 09:23] icymaru opened #107 "Contains doesn't support nullable property"

[2019-10-22 11:09] #80 closed

[2019-10-22 11:10] #81 closed

[2019-11-14 19:42] #78 closed

[2019-12-02 20:23] pvictorlv opened #109 "How to use with mysql?"
Hey, how i can use it with mysql without injecting connection dependency?

[2019-12-10 20:39] #109 closed

[2019-12-27 01:50] pvictorlv commented on #50
Added it on #111
:)

[2019-12-27 16:44] pvictorlv commented on #50
@phnx47 You can close this now.

[2019-12-27 17:52] #50 closed

[2019-12-29 03:59] pvictorlv commented on #23
Did it on #113

[2019-12-29 14:33] #23 closed

[2019-12-29 14:58] #55 closed

[2019-12-29 16:19] phnx47 opened #114 "Add tests for new functional"
Also, we should make Draft of Release 1.12.0 here https://github.com/phnx47/MicroOrm.Dapper.Repositories/releases/tag/untagged-b7b93da25f7ed79e67d8

[2019-12-31 15:43] pvictorlv commented on #114
This week i'll work on it!

[2020-01-01 20:58] pvictorlv opened #116 "Add select filters."
We can add filter to select query to avoid select all.

Example: SELECT id FROM users;

[2020-01-01 21:22] pvictorlv commented on #53
I'll do it, not my priority but i'll work on it.
I've added some resources but need time to research

[2020-01-01 22:27] pvictorlv opened #118 "Create SQLite Tests"
I've started to add SQLite, need some fixes and test.

[2020-01-01 22:28] #56 closed

[2020-01-01 22:35] pvictorlv commented on #114
I think who we can publish the release, i've added the description

[2020-01-02 15:54] phnx47 commented on #33
Should write tests for PostgreSql too

[2020-01-02 16:18] pvictorlv commented on #33
Which tests? Did you mean sqlite?

[2020-01-02 16:43] phnx47 commented on #33
No, PostgreSql tests for Repository

[2020-01-03 20:56] pvictorlv opened #120 "Implement connection factory"
We should have an connection factory instead of using only one shared connection.
Reason: some RDBMS like MySQL requires more than one instance for better performance because it have own pooling.

[2020-01-05 02:26] #116 closed

[2020-01-05 02:26] #120 closed

[2020-01-09 18:46] phmzum opened #121 "Select with join returning deleted data (of related tables)"

[2020-01-09 18:52] pvictorlv commented on #121
Can you provide code and sql example?

[2020-01-10 18:40] alex-gla opened #122 "Column attribute is not used in case of join"
Column attribute is not used in case of join

var user = await _db.Users.FindByIdAsync<Car>(1, x => x.Cars);

[code]
in this case `UserId ` will be empty

[2020-01-10 18:43] pvictorlv commented on #122
In Join's attributes you need to specify the column name, like
`        [LeftJoin("Users", "User_Id", "Id")]`

And need to specify the model to join in Find too, like
var user = await _db.Users.FindByIdAsync<Car>(1, x => x.Cars);

Also, you have a blank space in your Column attribute, try to remove it!

[2020-01-10 18:47] alex-gla commented on #122
thank you very much for your quick response, i followed your recommendation and i have the same result,

if i use such:
[code]
UserId  will be empty, if i use this:
[code]
i will have data for the `User_Id`

[2020-01-10 18:53] pvictorlv commented on #122
Are you using the attribute from System.ComponentModel.DataAnnotations.Schema?

[2020-01-10 18:57] alex-gla commented on #122
yes

[2020-01-10 18:59] pvictorlv commented on #122
Can you provide a more complete example?

[2020-01-10 19:01] alex-gla commented on #122
[code]
you can modify `...\MicroOrm.Dapper.Repositories.Tests\Classes\Car.cs` and check result for the `Name ` in join test

[2020-01-10 21:18] pvictorlv commented on #122
I've tested, this is not an issue. Try to update to the latest release (v1.12)

[2020-01-10 21:21] #53 closed

[2020-01-11 02:30] pvictorlv commented on #114
@phnx47 can you update nuget?

[2020-01-11 07:26] alex-gla commented on #122
i have download the latest version, and have the same error:

![image](https://user-images.githubusercontent.com/54503930/72200614-510e2480-3454-11ea-8535-4a8afc87da14.png)

changes stat should to be done
![image](https://user-images.githubusercontent.com/54503930/72200627-6b480280-3454-11ea-9746-0579cd9fd4c1.png)

[2020-01-11 07:26] alex-gla commented on #122
@pvictorlv  @phnx47
please take a look

[2020-01-11 07:54] phnx47 commented on #114
@pvictorlv Sorry, some problem with publish. I will check

[2020-01-11 08:10] phnx47 commented on #114
@pvictorlv  Published!

[2020-01-11 16:53] pvictorlv commented on #122
Can you publish your tests?

[2020-01-11 17:09] alex-gla opened #124 "nested join"
good day everyone

i found such code
[code]
and as i understand that is the reason why i cannot make a nested join. or in the other words

[code]

will be this functionality be supported at the future ?

[2020-01-12 00:18] pvictorlv commented on #124
i'll take a look on it

[2020-01-12 12:18] phnx47 commented on #124
Nested join  - problem with mapping data. I didn't find any way for automatic mapping

[2020-01-12 12:19] phnx47 commented on #124
Here mapping code:
[code]

[2020-01-12 14:47] alex-gla commented on #124
nested joins was implemented in the Dapper fast CRUD
https://github.com/MoonStorm/Dapper.FastCRUD/wiki/JOINs
may be we can use some ideas from that library ?

[2020-01-12 14:53] pvictorlv commented on #124
dapper fastcrud doesn't work well with joins...
What we can look for is dapper.mapper
https://github.com/dotarj/Dapper.Mapper

[2020-01-13 01:37] phmzum commented on #121
class Cars {
     [...]

    [Deleted]
    public bool Deleted {get;set;}

     [...]
}

var user = await _db.Users.FindByIdAsync(1, x => x.Cars);

in this case the property Cars of the variable user contains all cars associated with user with id 1 even the ones that has the property with the attribute "Deleted" with value true

[2020-01-13 01:49] pvictorlv commented on #121
Your table has the deleted column? and the entry with id 1 is true?
If possible, show your sql too.

[2020-01-13 07:43] phnx47 commented on #121
It is not bug. By design. Sometimes you need all records.

We should think about it again. Which behavior is better.

[2020-01-13 16:08] phmzum commented on #121
I consider a bug because if you run this code:

var user = await _db.Users.FindByIdAsync(1);

and the user with id 1 is deleted, the variable 'user' is null

the behavior must be the same on related properties...

[2020-01-13 16:28] phnx47 commented on #121
@phmzum I think, I forget how it works, need time for research

[2020-01-14 00:59] pvictorlv commented on #121
i'm working on it.

[2020-01-14 23:50] pvictorlv commented on #121
done, in next release will be fixed...

[2020-01-31 11:55] giannik opened #126 "Possible to config a prefix for table names"
Great library. Thanks.
Is it possible to config a table prefix string that will be appended automatically for every table and the sql generated ?
My scenario is that I have 1 database for many tenants for which each tenants table has a specified string in its table name.
eg for entity 'Cars' there is a cars table for each tenant in the database :
tenant1_Cars
tenant2_Cars

So can i pass in central

[2020-02-12 18:36] #121 closed

[2020-02-14 03:57] pvictorlv commented on #126
It's a bit useless but i'm implementing it.
Will be available in next release.

[2020-02-14 07:18] giannik commented on #126
Thank you.
Not common but usefull in multi tenant scenarios.

[2020-02-18 17:49] #126 closed

[2020-02-26 16:08] hmm1995 opened #130 "Problem with .SetOrderBy()"
Hi all!

When I use SetOrderBy() with an integer or DateTime column all works fine, but when I use a string property i get this exception:
"System.ArgumentNullException: 'The value cannot be null. Parameter Name: source'"

[2020-02-26 21:29] pvictorlv commented on #130
Can you post your model and your query?

[2020-02-27 07:35] hmm1995 commented on #130
I do the query over this Class:

using MicroOrm.Dapper.Repositories.Attributes;
using MicroOrm.Dapper.Repositories.Attributes.Joins;
using MicroOrm.Dapper.Repositories.Attributes.LogicalDelete;
using System;
using System.ComponentModel.DataAnnotations;
using System.ComponentModel.DataAnnotations.Schema;

    [Table("[ERP].[t_accounting_account]")]
    public class AccountingAccountEntity
    {

[2020-02-27 15:58] #130 closed

[2020-02-27 15:58] #122 closed

[2020-02-27 16:05] tonnystark opened #132 "Parameters error when using inheritance"
Ex: To reproduce:
 `public class Account : BaseModel
    {
        [Key]
        public int Id { get; set; }
        public string UserName { get; set; }
    }
`

` public abstract class BaseModel
{
public DateTime CreatedDate { get; set; }
}`

Have errors when using UpdateAsync: Instead of creating a param with the name: @CreatedDate, it creates  @BaseModelCreatedDate param.

Error in line: Inste

[2020-02-27 23:19] pvictorlv commented on #132
But what's the problem? the query doesn't execute?

[2020-02-28 09:15] #89 closed

[2020-02-28 09:15] #132 closed

[2020-03-02 11:02] hmm1995 opened #135 "Support for .Equals() and .Any() | .All()"
Eg:
var options = new[] {"opt1","opt2"}; //List/array strings

var results = _repository.FindAll( x=>
     x.property1.Equals(val1) &&
     options.Any( sVals => x.property2.StartsWith(sVals));

I know that "==" is the same as .Equals () and I am currently using it, but I would like to know if it can be used in the future.

Thank you very much and excellent library

[2020-03-02 13:38] ghost opened #136 "One to Many join - All, Any or Count clause on many"
Hello,

Would it be possible to add implement Count, Any or All when joining with a entity that has a many relationship with the current entity?

Example Any:
`_db.Addresses.GetAll(a => a.Users.Any(u => u.Deleted));`
`_db.Addresses.GetAll(a => a.Street == "Test street" && a.Users.Any(u => u.Deleted));`

Example Count:
`_db.Addresses.GetAll(a => a.Users.Count(u => u.Deleted) == 0);`

Example All
`_

[2020-03-02 14:35] pvictorlv commented on #135
I can take a look for nexts relases, but atm i'll be focused on nested joins and others improvements

[2020-03-04 09:21] ishadowid opened #137 "collection is empty exception - DapperRepository.BulkInsert"
Hello!

I found a bug in DapperRepository -> BulkInsert and BulkInsertAsync method

When we calculating
`int maxAllowedInstancesPerBatch = totalInstances / exceededTimes;`
we loosing fractional part. And next part of code working properly:

`for (int i = 0; i <= exceededTimes; i++)
{
                         var items = instances.Skip(i * maxAllowedInstancesPerBatch).Take(maxAllowedInstancesPerBat

[2020-03-04 13:58] lucaszacutti opened #138 "is Groupp By supported in any way?"
simple question, is Groupp By supported in any way?

[2020-03-09 02:51] pvictorlv commented on #138
At the moment, no.
I'll work on it, you can use the SetWhere function to add a custom query part and insert your Group by manually.

[2020-03-12 15:34] lucaszacutti commented on #135
Hi Paulo, I'm calling your library from a vb.net proyect. When I have an string comparision I get this exception: "System.InvalidCastException: Unable to cast object of type 'System.Linq.Expressions.MethodCallExpressionN' to type 'System.Linq.Expressions.MemberExpression'"
This is because vb.net always wraps expression into Operators.CompareString(x.MyPropertyString, "stringValue", true)
So I have

[2020-03-12 15:36] pvictorlv commented on #135
I can take a look, but atm i'm busy with GroupBy and other some features

[2020-03-12 22:03] lucaszacutti commented on #135
If you want I could try to resolve Equals case..

[2020-03-16 09:04] hmm1995 opened #139 "Possible bug with FindByIdAsync"
Hi all!

I have this Entity, (with dapper attributes for complex sql queries) :

[code]

If I use  FindAllAsync it works fine, but when I try FindByIdAsync() or FindAsync() im getting an exception:

[code]

[2020-03-16 09:09] phnx47 commented on #139
@hmm1995  Which Dapper version?

[2020-03-16 09:14] hmm1995 commented on #139
@phnx47
Dapper v2.0.30
Dapper.Contrib v2.0.30
MicroOrm.Dapper.Repositories v1.14.1

[2020-03-16 09:18] phnx47 commented on #139
Maybe is conflict with Dapper.Contrib, we should test it.

[2020-03-16 09:25] hmm1995 commented on #139
Im going to test without Dapper.Contrib, and if we dont need it i will remove it.
Thanks!

[2020-03-16 12:05] hmm1995 commented on #139
@phnx47 I have tried without Dapper.Contrib and im getting the same exception :/

[2020-03-17 11:38] hmm1995 opened #140 "Bug InsertAsync"
When I use Insert(entity, transaction) all works fine, but when i try

`bool saved = await repository.InsertAsync(entity, transaction);`

 im getting this exception
`The specified conversion is not valid `

[code]
Dapper v2.0.30
MicroOrm.Dapper.Repositories v1.14.1

[2020-03-17 11:47] hmm1995 opened #141 "Same transaction with different repositories"
I want to know if this would be possible in the future, we need it and its possible with dapper:

Dapper example:
[code]
What we need with MicroOrm
[code]

[2020-03-18 18:55] klym1 opened #142 "Add support for nullable .HasValue property"
Assume we have the following type:

[code]

It's now possible to filter out null values using:

[code]

But it would be nice if I could also write:

[code]

Thank you very much and excellent library

[2020-03-25 03:17] pvictorlv commented on #137
This will be fixed in #143

[2020-03-25 03:18] pvictorlv commented on #63
I'll close since we don't have interest in it.
This is not the focus of this project, sorry.
If you really want it, you can contribute with a P.R :)

[2020-03-25 03:18] #63 closed

[2020-03-25 04:04] pvictorlv commented on #135
Equals is done.
I just need time to research abou ANY and ALL

[2020-03-25 16:23] pvictorlv commented on #142
Will be available on next release!

[2020-03-25 20:45] hmm1995 commented on #139
Forget this, everything works fine, we did not see that a referenced project had an older version installed. We deleted it and everything started to go great. Sorry for the inconvenience.

[2020-03-25 20:45] #139 closed

[2020-03-25 20:45] hmm1995 commented on #140
Forget this, everything works fine, we did not see that a referenced project had an older version installed. We deleted it and everything started to go great. Sorry for the inconvenience.

[2020-03-25 20:45] #140 closed

[2020-03-25 21:13] hmm1995 commented on #141
Forget this, everything works fine, we did not see that a referenced project had an older version installed. We deleted it and everything started to go great. Sorry for the inconvenience.

[2020-03-25 21:13] #141 closed

[2020-03-26 07:38] SergioGilLacima opened #144 "Improvement, update only the indicated fields"
With the repositories we have to pass the entire object to update it, it would be good if we could through a lamda expression indicate the fields that we want to update

[2020-03-26 22:51] hmm1995 commented on #144
I don't know if this could be possible, but if it is, a nice way could be this:

UserRepository.Update([trans])
   .Set( x => x.attribute_1 = value1 & x.attribute_2 = value2)
   .Where( x=> x.attribute_0 == value3);

[2020-03-26 23:00] pvictorlv commented on #144
Yes, it's possible!
I'll add it in nexts releases, i'll just finish the current P.R :)

[2020-03-26 23:22] hmm1995 commented on #144
Perfect! If it helps, I have seen that in some repositories the method has the following structure:
`repo.Update( dynamicObject, idValue, [trans]);`
Seeing this a better way could be:
[code]
I hope it helps and a very good job

[2020-05-09 09:47] sachem1 opened #145 "How to query by page"
/// <summary>
        ///     Get all objects
        /// </summary>
        IEnumerable<TEntity> FindAll();

        /// <summary>
        ///     Get all objects
        /// </summary>
        IEnumerable<TEntity> FindAll(IDbTransaction transaction);

Why not IQueryable?

[2020-05-09 14:11] phnx47 commented on #145
It is not EnityFramework. After FindAll, query already returned results.

Documentation: https://dapper.phnx47.net/

Example:
[code]

Some tests: https://github.com/microorm-dotnet/MicroOrm.Dapper.Repositories/blob/0435a3c2e2085cd003b0764264f42c553f4b2fe3/test/MicroOrm.Dapper.Repositories.Tests/SqlGeneratorTests/MsSqlGeneratorTests.cs#L428-L445

[2020-05-11 10:30] #145 closed

[2020-05-12 08:49] sachem1 opened #146 "Is this not compatible with the sqlserver2008?"
if (Provider == SqlProvider.MSSQL)
            {
                if (!filterData.Ordered)
                    return;

                sqlQuery.SqlBuilder.Append("OFFSET ");
                sqlQuery.SqlBuilder.Append(filterData.LimitInfo.Offset ?? 0);
                sqlQuery.SqlBuilder.Append(" ROWS FETCH NEXT ");
                sqlQuery.SqlBuilder.Append(filterData.LimitInfo.Limit);

[2020-05-18 12:27] ekjuanrejon opened #147 "FindAllAsync"
How to use FindAllAsync and build a dynamic expression?

[2020-05-19 07:19] flecce opened #148 "Many to many"
Is there a way to map a many-to-many relationship via a relation table?
e.g. TableA -> TableAB <- TableB

If not how can I do this?

[2020-06-30 13:56] tonnystark commented on #72
How can you fix this? I've the same problem when using DateTime. Ex:  (t.CreatedDate.Subtract(currentDate).Days == 0)

[2020-06-30 14:05] phnx47 commented on #72
@tonnystark It is difficult query for parse. You can use SQL directly in Dapper.

[2020-06-30 14:19] tonnystark commented on #72
Thanks for your comment, I'll do that.

[2020-07-03 14:22] vesko-k opened #149 "SQLite UPDATE statement gives error: Result: near ".": syntax error. Maybe prefixed columns are not supported"
Hi, at first I would to thank you for the library. It helped me a lot.
I have one question. In the SQL generator for the UPDATE statements you prefix columns with tablename. I'm using SQLite 3 and even in DBBrowser for SQLite it seems that database does not support prefixed columns for UPDATE statements.
I can create own SQLGenerator inheriting yours and to override the GetUpdate method and to cle

[2020-07-15 11:51] iamfrankjie opened #151 "Possible to support dynamic table names"
My best Pal，Our data table is broken down by month:
Order_202003
Order_202004
Order_202005

But table can only be in a fixed format:
`
    [Table("Order")]
    public class OrderInfo
`

Possible to support dynamic table names?

[2020-07-31 07:49] cnkker commented on #137
Collection of 220 items
Element class has 15 properties
exceededTimes: 220* 15 / 2100 = 1.57
ceiling: 1.57~ 2
maxAllowedInstancesPerBatch = 220/ 2 = 110
4 Iterations ( i <= exceededTimes ):
Skip 0, Take 110
Skip 110, Take 220
Skip 220, Take 220 --- Error  ?????

[2020-07-31 08:56] phnx47 commented on #148
@flecce It is difficult query for universal mapping. You should Dapper directly for this query, and hand mapping.

[2020-07-31 08:56] #148 closed

[2020-07-31 08:58] phnx47 commented on #146
I think, we should fix it.

[2020-07-31 09:01] phnx47 commented on #147
What is dynamic expression? We can't use all expressions

You will find examples all examples here: https://github.com/microorm-dotnet/MicroOrm.Dapper.Repositories/blob/master/test/MicroOrm.Dapper.Repositories.Tests/RepositoriesTests/RepositoriesTests.cs

[2020-07-31 09:01] #147 closed

[2020-07-31 09:04] phnx47 commented on #151
Right now - no.

I'm not sure, how use it. One class mapped to many table? Or  One class mapped to current months table?

[2020-07-31 09:08] phnx47 commented on #136
ghost...

I'm not sure, that this is important feature.

[2020-07-31 09:08] #136 closed

[2020-07-31 09:09] #33 closed

[2020-07-31 09:09] phnx47 opened #153 "Create tests for PostgreSql"

[2020-07-31 10:05] cnkker commented on #137
I solved

 `  var maxAllowedInstancesPerBatch = (totalInstances / exceededTimes) + (totalInstances % exceededTimes == 0 ? 0 : 1);

                        for (var i = 0; i < exceededTimes; i++)
                        {
                           ……
                        }

                        return count;`

[2020-07-31 14:23] pvictorlv commented on #149
Can you provide the generated query result?

[2020-08-01 11:45] #137 closed

[2020-08-01 11:45] #138 closed

[2020-08-01 11:45] #142 closed

[2020-08-05 02:56] cnkker opened #154 "not support where caluse p=>true"
var sqlQuery = userSqlGenerator.GetSelectFirst(p=>true, null);

[2020-08-10 08:44] vesko-k commented on #149
I've already made custom SqlGenerator.
[code]

[2020-08-23 17:41] phnx47 opened #155 "Release 1.15"
@pvictorlv What do we need for a new release?

[2020-08-23 17:45] phnx47 commented on #154
@cnkker this:
[code]

[2020-08-23 17:47] phnx47 commented on #154
I think we can support ` p=>true` too. But later

[2020-08-23 18:39] pvictorlv commented on #155
I think that's ready to go, for future versions we should work on some tests and some compatibility support for sqlserver and sqlite.

[2020-08-24 03:28] 0-NightStalker-0 commented on #149
Same happened on Postgres and this fix also works for me.

[2020-08-25 17:56] phnx47 commented on #155
@pvictorlv May you prepare release notes?

[2020-09-05 19:09] #155 closed

[2020-09-08 03:03] lacatusvasile opened #156 "SetOrderBy expression on MSSQL with UseQuotationMarks wrongly generated"
MicroOrmConfig.SqlProvider = SqlProvider.MSSQL;
MicroOrmConfig.UseQuotationMarks = true;

.SetOrderBy(OrderInfo.SortDirection.DESC, c=>c.StartDate)
generates:
ORDER BY [Campaign.StartDate] DESC
some ] [  are missing around the dot

[2020-09-21 13:37] SunsystemOne opened #157 "Fluent map entity and property"
Ability to map entity and property attribute of POCO class attributes as EF fluent Api

[2020-12-03 06:50] CnytSntrk opened #158 "InsertAsync throws an exception"
Hi,

I'm getting an exception while trying to insert and record. It's inserts records into DB but also throws an exception as "Null object cannot be converted to a value type".

Exception Detail:

Error parsing column 0 (Id=<null>)

I'm using MSSql .net core 3.1. The table has the only Name and Id fields Id is guid and creates by DB. (newid())

Dapper v.2.0.78
MicroOrm.Dapper.Repositories v.1.15.0

[2020-12-14 15:31] Parshyaa opened #159 "I have question regarding the filtercriteria based on the Collection."
Hi everyone,

based on the two classes in the tests, Users and Car,
I would like to have a test Case Like FindAllJoinByContainsMultipleList();
            var user = _db.Users.FindAll<Car>(x => x.Cars.Id == 1, q => q.Cars);
ie Find all the users which are having the car Id 1.

1. If you can help me with this it would be helpful as I am not able to figure it out .. how can I achieve this .
2. Also

[2021-01-11 08:53] Parshyaa commented on #159
Hi @pvictorlv, A help would be appreciated from you in this request as I am stuck to  get the child of child using your solution.

[2021-01-11 16:02] phnx47 commented on #159
@Parshyaa Hi! "get the child of child" doesn't support. It is very difficult mapping. I recommend use Dapper directly and your own mapping

[2021-01-11 17:01] Parshyaa commented on #159
hi @phnx47 , thanks for the information, Will try to use the dapper directly.

[2021-01-12 11:26] icymaru opened #160 "Connection Pool"
I received this error when we tried to load test our app (web API), that uses this library. Is there a work around for this?
I think the issue is that the connections are not being closed until the end of the request. So if a single API request calls multiple repositories, multiple DB connections will be opened also, and those connections will only close at the end of the request.

`System.Invalid

[2021-02-01 03:30] danedang opened #161 "how to integrate miniprofiler ， Castle windsor"
`  container.Register(Component.For<IDbConnection>().ImplementedBy<MySqlConnection>()
                .LifeStyle.PerThread
                .UsingFactoryMethod(() => new ProfiledDbConnection( new MySqlConnection(ConfigurationManager.ConnectionStrings["iot_mysql"].ConnectionString), MiniProfiler.Current))
            );
`

but not work
![image](https://user-images.githubusercontent.com/8046871/10641

[2021-02-11 19:58] SomnaW commented on #71
Still doesn't work for SqlProvider.PostgreSQL.
Tested both string.Contains and IEnumerable.Contains with 1.10.0-beta3 and 1.15.0

[2021-02-11 22:31] terrykyee opened #162 "Can not safely call ReadOnlyDapperRepository.Dispose multiple times"
AutoFac expects classes to be able to be disposed of multiple times, so using DapperRepository with AutoFac causes NullReferenceExceptions when AutoFac goes to dispose of objects.  There should be a protection around the call to Connect.Dispose to check for a null Connection to protect against this.

[2021-02-12 09:55] #159 closed

[2021-03-11 23:51] harshitgindra commented on #158
I do not think get a GUID from the database is possible. SCOPE_IDENTITY or @@IDENTITY can give you the last identity(int) used based on the counter but as GUID is completely random, it may not be possible.

Not sure if you've an option to redesign your dB but I would either make my client app create a new GUID and save to the dB or have another unique key in the table and return that instead.

[2021-03-11 23:58] harshitgindra commented on #162
#164

[2021-03-11 23:58] harshitgindra commented on #149
#164

[2021-03-12 06:21] CnytSntrk commented on #158
@harshitgindra Adding a SELECT SCOPE_IDENTITY(); in the insert query works like a charm. Returns a inserted record GUID.

[2021-03-12 07:22] phnx47 commented on #162
@harshitgindra  Thank you!

Published in 1.16.1

[2021-03-12 07:22] #162 closed

[2021-03-12 07:23] phnx47 commented on #149
@harshitgindra  Thank you!

Published in 1.16.1

[2021-03-12 07:23] #149 closed

[2021-03-12 14:22] harshitgindra commented on #158
@CnytSntrk
Can you share a sample? I tried few things but I wasn't able to get the GUID back.

Here's what I tried
Table structure
[code]

Insert script
[code]

When I run the insert script, I do not get back the GUID.

If suggest if there's anything I can do to my table structure or insert script to get the guid back.

Thanks in advance.

[2021-03-12 14:27] CnytSntrk commented on #158
@harshitgindra Hi sorry i forgot tell you. I also added  OUTPUT inserted.Id  before VALUES word

Query should be like

INSERT INTO dbo.TestGuid( Name)
OUTPUT inserted.Id
VALUES( 't')
SELECT SCOPE_IDENTITY();

I can share my GenericRepo if needed

[2021-03-12 14:32] harshitgindra commented on #158
Ahh ! Got it...
That makes sense.. By adding output, it worked for me as well.
Thanks for the clarification and sharing the example.

[2021-03-12 14:35] CnytSntrk commented on #158
@harshitgindra your welcome sir

[2021-03-29 19:51] feki opened #165 "collection is empty exception - DapperRepository.BulkUpdate"
Hi,

I found a bug with BulkUpdateAsync, which throws `collection is empty` exception. I think, it is same issue as with BulkInsert/BulkInsertAsync, reported in #137.

[2021-03-29 20:00] #165 closed

[2021-03-29 20:09] phnx47 commented on #165
Published: [1.16.2](https://www.nuget.org/packages/MicroOrm.Dapper.Repositories/1.16.2)

[2021-04-08 16:27] vadimromanov opened #169 "Add Command timeout for DapperRepository.DeleteAsync method"
Dapper has one version of method Connection.ExecuteAsync with parameter for Command timeout.
Please, add Command timeout as a parameter in DapperRepository.DeleteAsync method.
Thank you.

[2021-05-21 16:26] phnx47 commented on #146
I tested in special branch: https://ci.appveyor.com/project/phnx47/microorm-dapper-repositories/builds/39268715

[2021-05-21 16:29] #146 closed

[2021-05-21 16:56] #114 closed

[2021-05-21 17:10] phnx47 commented on #169
https://github.com/microorm-dotnet/MicroOrm.Dapper.Repositories/commit/d6211cb631d6fc6a3376e8302873c1fd48cc91f2

[2021-05-21 17:15] vadimromanov commented on #169
Thanks
--
Sent from Mail.ru app for Android Friday, 21 May 2021, 08:10pm +03:00 from Serge K  ***@***.*** :

[2021-05-21 17:28] phnx47 commented on #169
Published: [1.18.0](https://www.nuget.org/packages/MicroOrm.Dapper.Repositories/1.18.0)

[2021-05-21 17:28] #169 closed

[2021-05-27 17:34] kalista124 opened #171 "How can I work with IdentityDbContext"
![image](https://user-images.githubusercontent.com/36232359/119866019-87175000-bf46-11eb-832e-b1be92bc7195.png)

[2021-05-27 17:46] phnx47 commented on #171
@kalista124  IdentityDbContext is part of EntityFramework.

[2021-05-28 04:54] #171 closed

[2021-06-03 07:46] matigarowel opened #174 "ASP.NET Core Setup"
Is there a full documentation for ASP.Net Core setup?

[2021-06-03 08:06] phnx47 commented on #174
@matigarowel  Maybe this help: https://github.com/phnx47/dapper-repositories#example-with-aspnet-core-and-di

[2021-06-03 08:48] matigarowel commented on #174
Thanks a lot for your response I already tried based on documentation. I only have error for "DbFactory", what library would I install in nuget? There are suggestion by visual studio and still an error.

[2021-06-03 09:04] phnx47 commented on #174
`DbFactory` - it is your own implementation, not a library.

Alternatives
- Register `IDapperDbContext` from [here](https://github.com/phnx47/dapper-repositories/blob/master/src/MicroOrm.Dapper.Repositories/DbContext/)
- Register `IDbConnection` as Transient, and your repositories based  on `DapperRepository<TEntity>` as Transient

[2021-06-03 13:04] #174 closed

[2021-06-17 13:59] AleyCZ opened #175 "Problem with 1:N relations"
We have the following situation: Let's say there is class Tree and class Apple. One tree has multiple apples.

[code]

I want to retrieve one Tree object with ID=myId with all its Apples.

1. This is what works correctly:
`await repository.FindAllAsync<Apple>(t => t.Id == myId, t => t.Apples).FirstOrDefault()`

2. This is what does not work:
`await repository.FindAsync<Apple>(t => t.Id == myId, t

[2021-06-17 16:01] AleyCZ commented on #175
I have some additional information.

We use nuget version 1.8.3 which is somewhat older, but we had even worse experience with newer version so we stick with that one. I tried to investigate what exactly SQL query is being created by SqlGenerator here, in the case of FindByIdAsync. We use MSSQL database.

nuget 1.8.3 creates a valid SQL query but there is TOP 1 in it so it returns only a single Ap

[2021-06-18 02:57] phnx47 commented on #175
@AleyCZ It is looking strange. Btw, I will check cases only in the new version.

[2021-06-18 03:03] phnx47 commented on #175
@AleyCZ In 1.8.3 - problem, because it is "TOP 1", it is why it is removed in next versions.

[2021-06-24 14:32] phnx47 commented on #175
@AleyCZ I checked. I didn't find any problem with sql generation. I added tests for this. But I found a problem with mapping in FindByIdAsync with one joins

PR #176

[2021-06-24 14:39] whitesource-bolt-for-github[bot] opened #177 "CVE-2019-0820 (High) detected in system.text.regularexpressions.4.3.0.nupkg"
## CVE-2019-0820 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>system.text.regularexpressions.4.3.0.nupkg</b></p></summary>

<p>Provides the System.Text.RegularExpressions.Regex class, an implementation of a regular expression e...</p>
<p>Library home page: <a hr

[2021-06-24 14:54] #177 closed

[2021-06-26 14:10] zmy012 opened #179 "i can not find IDbConnectionFactory"
i can not find IDbConnectionFactory
`//Your DB Provider
MicroOrmConfig.SqlProvider = SqlProvider.MySQL;
//Your db factory
services.AddSingleton<IDbConnectionFactory, DbFactory>(x => new DbFactory(appSettings.DbConnectionString));
`

[2021-06-26 17:34] phnx47 commented on #179
@zmy012 You should implement Factory yourself

[2021-06-26 17:34] #175 closed

[2021-06-27 05:22] #179 closed

[2021-07-06 07:20] O-o0O commented on #160
[sql-server-connection-pooling](https://docs.microsoft.com/en-us/dotnet/framework/data/adonet/sql-server-connection-pooling)
It seems that you need to close it manually or it will not close for a while.
And it may open all the time if some exception happened(the program skip the 'close()' function ),then you will have no connection to use before long.

[2021-09-06 03:50] apchenjun opened #183 "Count SetLimit FindAll method supports custom sql"
This is the code I used in my project after transformation,Because I need multi-table related query.
[code]
In my project I need to use it like this
![image](https://user-images.githubusercontent.com/4964551/132158950-20371d99-00a7-4583-abbe-148d240f305b.png)

[2021-09-06 03:57] apchenjun opened #184 "It is recommended that all methods pass in the default transaction"
Currently only the InsertAsync method is passed in the default transaction
![image](https://user-images.githubusercontent.com/4964551/132158317-8215fbd6-5be6-4314-8cbd-42bc57c93bca.png)
Other methods do not add the default transaction, for example
![image](https://user-images.githubusercontent.com/4964551/132158449-a200ea47-fed4-4102-9632-d41965c7dfff.png)
In this way, if you need to open the tran

[2021-09-06 04:10] apchenjun opened #185 "It is recommended to provide a default UnitOfWork implementation"
This is the code suggestion in my project to be added, such an implementation is very necessary and practical in the project.
[code]
this is DbConnectionFactory
[code]
I currently do this in my project
![image](https://user-images.githubusercontent.com/4964551/132159522-20d28400-e1d6-4a94-bec3-b8a2765bb2b2.png)

[2021-09-06 04:21] phnx47 commented on #183
@apchenjun Feel free to raise PR

[2021-09-06 04:23] apchenjun commented on #183
@phnx47 I only implemented the sqlserver version and other database versions. Someone needs to implement it.

[2021-09-06 04:25] phnx47 commented on #184
By default, all requests are without transactions. But yes, you can pass it to the method. About InsertAsync - it seems that it is a bug

[2021-09-06 04:29] phnx47 commented on #185
It is another pattern. UnitOfWork is not required for Repository. But it can be combined You can create a new nuget package and extend the current implementation

[2021-09-06 04:30] apchenjun commented on #184
@phnx47 I think that by default, the current connection transaction should be implemented according to the connection passed in by the constructor, so that I can directly call the method to achieve the transaction, without having to rewrite all the methods to pass in my transaction, like the Insert method.

[2021-09-06 04:35] phnx47 commented on #184
Default use expected like this, you just pass it:
[code]

[2021-09-06 04:39] apchenjun commented on #184
If you have a default transaction implementation, the code is more concise
[code]

[2021-09-06 04:43] phnx47 commented on #184
It is ok with UnitOfWork. Current implementation is independent of UnitOfWork. Good point for creating new nuget;
`MicroOrm.Dapper.Repositories.UnitOfWork`

[2021-09-06 04:45] phnx47 commented on #184
Also, I can extract SqlGenerator to another nuget package. It will be easy create nuget pattern based only SqlGenerator

[2021-09-06 04:48] apchenjun commented on #184
I am happy to assist you in creating this nuget, and I can provide my production code for your reference.

[2021-09-06 05:02] phnx47 commented on #184
Current implementation InsertAsync, transaction passed from outside:

[code]

[2021-09-20 00:27] VladislavAntonyuk commented on #124
@phnx47 it would be nice to have it in SqlBuilder while mapping it can be done by the developer using the dapper.Query()

[2021-09-20 01:46] phnx47 commented on #124
@VladislavAntonyuk Feel free to open PR :)

[2021-10-22 03:29] yeasin90 opened #190 "Exception: Incorrect syntax near the keyword 'Public'"
Hi,

My table has a column name **Public**
![public-column](https://user-images.githubusercontent.com/8789577/138388508-399bae36-cec1-4285-8014-e8b5dd269572.JPG)

When I tried to pull data using **FindByIdAsync**, I get an exception:
![exception-dapper](https://user-images.githubusercontent.com/8789577/138388798-ca7414d0-87fa-413e-ab49-373e598b32e7.JPG)

Any suggestions?

[2021-10-22 04:15] yeasin90 commented on #190
SQL from profiler:
![profiler](https://user-images.githubusercontent.com/8789577/138392608-dd00557f-3d87-4d90-a46e-863718dc6533.JPG)

Table structure from DB:
![table](https://user-images.githubusercontent.com/8789577/138392630-e0ddc467-be71-4098-9f09-bf4a8dfb3f79.JPG)

Entity structure:
![entity](https://user-images.githubusercontent.com/8789577/138392643-bec56727-66e7-4a69-aa3b-d4cc8f6c38cc.JPG)

[2022-01-05 06:10] phnx47 commented on #158
@harshitgindra Is this still problem? Can we close it?

[2022-01-08 17:00] #158 closed

[2022-01-28 04:44] yeasin90 opened #193 "FindAsync does not returns all items in child collection"
My entities:
[code]
`Addresses` has more than one row in the Database.

**Problem:**
Below return only _ONE ITEM_ in Addresses
`db.MyUsers.FindAsync<Addresses>(x => x.Id == 1, x => x.Addresses); `

Wheres, below returns _ALL ITEMS_ in Addresses
`db.MyUsers.FindByIdAsync<Addresses>(1, x => x.Addresses); `

**Question:**
How to make `FindAsync` return all items in the child collection?

[2022-01-28 05:13] phnx47 commented on #193
I saw the same issue before: https://github.com/phnx47/dapper-repositories/issues/175. But a fixed it a long time ago.

@yeasin90 Can you create a test and reproduce this?

[2022-01-28 05:43] yeasin90 commented on #193
@phnx47 I have my data in the database and getting this issue

But from your below test case, seems only one item is being checked?
https://github.com/phnx47/dapper-repositories/blob/699c58c57433be4b104165ef208dbf13741f993d/test/MicroOrm.Dapper.Repositories.Tests/RepositoriesTests/RepositoriesTests.cs#L156-L163

[2022-01-28 15:16] phnx47 commented on #193
I will work with this bug

[2022-01-29 08:39] #193 closed

[2022-01-29 08:40] phnx47 commented on #193
Fixed in 1.20.0

[2022-01-31 03:16] yeasin90 commented on #193
@phnx47
1.20.0 did solve the problem, thanks.

One observation:
In 1.190, I did a workaround for this case: called `FindAllAsync` (with my predicate) and then took data with `FirstOrDefault` in-memory. I replaced this case with `FindAsync` from 1.20.0

Seems `FindAsync` from 1.20.0 takes almost 3-times more (in milliseconds) than the workaround I did with `FindAllAsync` from 1.19.0.

[2022-01-31 04:38] phnx47 commented on #193
@yeasin90 There is not much difference in the code. If you think that here is performance issue, feel free to create PR with optimization with Benchmarks

[2022-02-07 12:21] TanvirSojal opened #195 "FilterData Properties Are Not Cleaned Up After Repository Call"
Suppose I have an Entity `Student`

[code]

And I make a repository call to return all Students with Pagination (Limit, Offset)
[code]

Then I make another call, where I fetch all students without any Limit/Offset
[code]
Now this call throws error. After investigation I found that `db.Student.FilterData` has `LimitInfo` property still set from previous call. And repository is trying to execute thi

[2022-02-08 07:49] apchenjun opened #196 "Why BulkUpdate and BulkUpdateAsync cannot be override"
I need to override bulkupdate to set entity base class default value
![image](https://user-images.githubusercontent.com/4964551/152941393-597d281c-504b-40b5-a1b0-ce44a602c5b6.png)

[2022-02-08 07:52] apchenjun opened #197 "It is recommended that Metadata attributes be added to the CreateAt and Version fields"
The CreateTime and UpdateTime fields are often used in the project, and the Version field is concurrently modified by the user.
![image](https://user-images.githubusercontent.com/4964551/152942724-c9c1d6f0-da3d-4602-ba84-6236e6d53a4a.png)

[2022-02-08 08:05] apchenjun opened #198 "It is recommended to define a method to set the default value to be called when a new modification is added."
It is recommended to define a method to set the default value to set the default value of the field of the entity base class when adding/bulk new modification/batch modification, such as Id, CreateTime, Version, CreateUserId, UpdateUserId, etc. This function is very common, which is in The code in my project, the author can add it to the project.

[code]

[code]

[2022-02-08 08:15] #197 closed

[2022-02-08 08:21] phnx47 commented on #198
It is not for Core. We can continue discuss here: #199

[2022-02-08 08:21] #198 closed

[2022-02-08 09:44] apchenjun commented on #196
@phnx47
![image](https://user-images.githubusercontent.com/4964551/152960224-67b38be1-2a71-4447-8d78-69405535d827.png)
BulkInsert And BulkInsertAsync Need to have a default implementation without IDbTransaction like BulkUpdate
**public virtual int BulkInsert(IEnumerable<TEntity> instances)**
**public virtual Task<int> BulkInsertAsync(IEnumerable<TEntity> instances)**

[2022-02-09 03:16] apchenjun opened #200 "SetLimit doesn't have proper pagination"
I have a total of 16 records, divided into 10 records per page, but the second page should be 6 records, and now it is still 10 records of data, is it a bug?
The correct one should be 10 records on the first page and 6 records on the second page 。
![image](https://user-images.githubusercontent.com/4964551/153114792-0f4d4305-100f-4a6c-9905-c744e6b336fe.png)

![image](https://user-images.githubuserc

[2022-02-09 06:40] #200 closed

[2022-02-09 08:44] apchenjun opened #201 "How to include three levels of nesting by AEntity.FindById<BEntity>"
Currently, only two levels of AEntity can be queried, including BEntity ，I want to load multiple levels of nesting at once how to do
CEntity how to include
AEntity=>BEntity=>CEntity

[2022-02-09 08:57] phnx47 commented on #201
I think this is duplicated: #124

[2022-02-09 09:49] phnx47 commented on #195
@TanvirSojal Can you check `1.20.1` version?

[2022-02-09 10:06] #196 closed

[2022-02-09 10:09] phnx47 commented on #196
Published `1.21.0`

[2022-02-09 12:00] TanvirSojal commented on #195
@phnx47 I checked with this version. Nullable properties of `FilterData` are being null including `LimitInfo`, **but `Ordered` is not set to `false`** after operation.
Now, `OrderInfo` is `null` so making another db query throws Error but having an explicit cleanup where all values are reset should help prevent unintended side effects.

[2022-02-09 13:35] phnx47 commented on #195
@TanvirSojal I didn't implement FilterData logic, it came from community PR. I need time to investigate solution. Also, you can try to raise your PR with fix

[2022-02-10 01:31] apchenjun opened #205 "InsertAsync/Insert Cannot return the primary key value after inserting"
InsertAsync/Insert method recommendation return it the primary key value  after inserting like BulkInsert,
public virtual long Insert(TEntity instance);
public virtual Task<long> InsertAsync(TEntity instance);
![image](https://user-images.githubusercontent.com/4964551/153319389-1c45e05e-40b3-455a-a3c4-c7d4e985959c.png)

[2022-02-10 02:04] phnx47 commented on #205
@apchenjun I have access to primary key in object which you inserted:

[code]
BulkInsert return count of inserted records

[2022-02-10 02:04] #205 closed

[2022-02-10 13:17] #201 closed

[2022-04-27 14:08] pengweiqhca opened #207 "DapperRepository method missing CancellationToken override."

[2022-04-28 01:03] phnx47 commented on #207
@pengweiqhca Can you raise a PR?

[2022-04-28 13:39] phnx47 commented on #207
@pengweiqhca I reverted changes in `main` branch. I see that you add `tt` and `generated files`. Can you remove these templates, clean up and raise PR again?

[2022-04-29 12:13] #207 closed

[2022-04-29 12:13] phnx47 commented on #207
Merged

[2022-05-07 15:56] DamilolaAdegunwa opened #214 "doesn't support the use of Trim(), ToLower(), ToUpper(), Reverse() (and possibly a few other linq methods)"
hi! not used to doing this but it looks like there is an issue with the use of "trim" when trying to get data. something like the below would keep giving you errors.

`var terminal = await _unitOfWork.TerminalRepo.FindAsync(t => !t.IsDeleted && t.TerminalId.Trim() == tid);//didnt work`

The error is:
` **{"Unable to cast object of type 'System.Linq.Expressions.InstanceMethodCallExpression0' to typ

[2022-05-08 04:38] phnx47 commented on #214
@DamilolaAdegunwa Sorry, but we can't parse Trim()

[2022-05-08 04:43] #214 closed

[2022-05-16 10:45] #160 closed

[2022-05-16 10:45] #161 closed

[2022-05-16 10:46] #151 closed

[2022-05-16 10:48] phnx47 commented on #62
Supported!

[2022-05-16 10:49] #62 closed

[2022-05-17 15:01] phnx47 opened #216 "Metadata attributes be added to the CreateAt and Version fields"
Originally posted by @apchenjun on February  8, 2022

The CreateTime and UpdateTime fields are often used in the project, and the Version field is concurrently modified by the user.

![image](https://user-images.githubusercontent.com/4964551/152942724-c9c1d6f0-da3d-4602-ba84-6236e6d53a4a.png)

[2022-05-17 15:02] phnx47 commented on #216
We already have UpdatedAtAttribute. I will be glad PR with implementation: CreateAtAttribute and VersionAttribute.

[2022-05-17 15:05] #107 closed

[2022-07-13 00:37] #156 closed

[2022-08-20 08:40] renovate[bot] opened #220 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency oracle.manageddataaccess.core to v3.21.70
 - [ ] chore(deps): update tests (`Mi

[2022-10-30 11:25] phnx47 opened #238 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

This repository currently has no open or pending branches.

## Detected dependencies

<details><summary>docker-compose</summary>
<blockquote>

<details><summary>docker-compose.yml</summary>

 - `mysql 8.0-debian`
 - `mcr.microsoft.c

[2022-10-30 11:26] #238 closed

[2022-11-26 15:01] rhmnmbr opened #242 "error on update using SqlProvider.PostgreSQL"
- error: `42703: column "app_user" of relation "app_user" does not exist`
- postgre version: `PostgreSQL 14.4`
- recorded query:
[code]

[2022-11-26 15:14] phnx47 commented on #242
@rhmnmbr83 It is not enough... I just google it: https://stackoverflow.com/questions/17104837/pgsql-error-code-42703-column-does-not-exist

Provide some information, please:
1) Publish your c# class with attributes
2) Which method do you use for update?
3) Publish generated SQL by this library
4) Publish correct SQL without error for this update

[2022-11-26 15:26] rhmnmbr83 commented on #242
1.
[code]
2.
![image](https://user-images.githubusercontent.com/34632080/204096243-7c9ed631-bb35-4df7-97ff-1b44207f4748.png)

3.
[code]

4.
![image](https://user-images.githubusercontent.com/34632080/204096338-2374ae85-dd53-40ac-b557-155cb9450443.png)
![image](https://user-images.githubusercontent.com/34632080/204096371-c48add12-0a70-46f7-b16c-d2ed72bd75dc.png)

[2022-11-26 15:38] phnx47 commented on #242
I will setup unit tests first #153, then come we found whats wrong.